
.text-color {
 color: rgb(232, 36, 1);
}

.topD-25 {
    margin-top: 18%;
}
.endD-25 {
    margin-right: 19%;
}

.topM-25 {
    margin-top: 20%;
}

.custom-image {
    height: 2000;
    width: 400%;
}

.fs-custom {
    font-size: 50px;
}

.tr-1 {
    animation: slide-in 2s ease-in-out forwards;
}

@keyframes slide-in {
    0% {
      transform: translateX(-5%);
      opacity: 0;
    }
    60% {
      transform: translateX(0);
      opacity: 1;
    }
  }